@import "src/mixins";

.mainVideo {
  max-width: 1182px;
  margin: 472px -21px 0; // 424px - высота лого + 30px
  display: block;
  width: calc(100% + 42px);

  @include mediaIpadPro {
    margin-top: 135px;
  }
  @include smallDesktop {
    margin: 135px auto;
    width: 100%;
  }
}