.logo {
  font-family: elevon,sans-serif;
  font-weight: 200;
  font-style: normal;
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: var(--color-white-082);
}

.logo-noeon {
  font-size: 50pt;
  letter-spacing: 0.2em;
}

.logo-research {
  font-size: 25pt;
  letter-spacing: 0.5em;
}

.logo-link {
  text-decoration: none;
}