@mixin text {
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.372665px;
  color: var(--color-white-082);

  @media screen and (min-width: 1024px) {
    font-size: 25px;
  }
}

@mixin title {
  font-weight: 700;
  font-size: 55px;
  line-height: 120%;
  letter-spacing: 0.372665px;
  margin-top: 0;
  color: var(--color-white-082);
  @media screen and (min-width: 1024px) {
    font-size: 75px;
  }
}

@mixin mediaIpadPro {
  @media screen and (min-width: 768px) { @content }
}

@mixin smallDesktop {
  @media screen and (min-width: 1024px) { @content }
}

@mixin mediaMacbookPro {
  @media screen and (min-width: 1280px) { @content }
}

@mixin mediaMacbookProLarge {
  @media screen and (min-width: 1728px) { @content }
}

@mixin button-link {
  text-decoration: none;
  border: 2px solid var(--color-white-100);
  width: auto;
  padding: 21px 28px;
  text-align: center;
}